#formulario {
    margin-top: 75px;
    text-align: center;
    padding: 40px;
    color: white;
    background-color: #807b7b;
    margin-left: 500px;
    width: 750px;
    border-radius: 30px;
  }
  
  #boton {
    margin-left: 590px;
  }
  
  #subir {
    margin-left: 1260px;
  }
  
  .crear_nombre {
    font-size: 50px;
  }
  
  .crear_nombre input {
    height: 50px;
    width: 400px;
    font-size: 20px;
  }
  
  .crear_jugadores {
    text-align: left;
  }
  
  .crear_jugadores #jugadores {
    display: flex;
    flex-wrap: wrap;
  }
  .crear_jugadores #jugadores div {
    margin-inline: 90px;
  }